.venv\Scripts\Activate
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Página Inicial</title>
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>

    <ul id="menu">
        <li><a href="{% url 'inicio' %}">Início</a></li>
        <li><a href="{% url 'registrar-cliente' %}">Cadastrar Cliente</a></li>
        <li><a href="{% url 'registrar-fotografo' %}">Cadastrar Fotógrafo</a></li>
        <li><a href="{% url 'inserir-estudio' %}">Cadastrar Estúdio</a></li>
        <li><a href="{% url 'inserir-sessao' %}">Agendar Sessão</a></li>
    </ul>

    <div id="conteudo">
        {% block conteudo %}
        <h3>Página inicial</h3>
        <p>Bem-vindos à página inicial de Hermsdorff E Capel Studio</p>
        {% endblock %}
    </div>

    <div id="rodape">
        Desenvolvido por Eduardo Hermsdorff e Henrique Capel
    </div>

</body>
</html>
